/*Estilos de la pagina Biografia*/

.biografia__contenedor {
    background-image: linear-gradient(to bottom, #78bcc432 35%, map-get($paletaDeColores, softWhite) 65%);
}

.biografia__enlaces {
    @include myflex (row, nowrap, center, flex-start);
    padding: 50px 0;
}

.biografia__fila {
    padding-top: 1rem;
    padding-bottom: 10rem;
    padding-left: 30px;
    padding-right: 30px;
}

.ensamble__fotos {
    border: 10px solid map-get($paletaDeColores, softWhite);
    border-radius: 5px;
}

.director__fotos {
    border: 10px solid #78bcc432;
    border-radius: 5px;
    img {
        filter: grayscale(100%);
    }
} 

.ensamble__texto {
    padding: 0 20px;
    .pagina__subtitulo {
        color: map-get($paletaDeColores, orangeHighlight);
        font-size: 1.9rem;
        text-transform: none;
    }
    p {
        font-size: 1.3rem;
        line-height: 1.4;
    }
}

.director__texto {
    padding: 0 20px;
    .pagina__subtitulo {
        color: map-get($paletaDeColores, orangeHighlight);
        font-size: 1.9rem;
        text-transform: none;
    }
    p {
        font-size: 1.3rem;
        line-height: 1.4;
    }
}

/*MEDIA QUERIES*/


/*TABLET*/

@media screen and (max-width: 768px) {

.biografia__fila {
    padding-bottom: 3rem;
}

.ensamble__texto, .director__texto {
    margin-top: 1rem;
}
}

/*CELULAR*/ 

@media screen and (max-width: 500px) {

    .biografia__enlaces {
        flex-wrap: wrap;
        gap: 0.1rem;
        text-align: center;
        a {
            font-size: 1.1rem;
        }
    }

    

}