/*Estilo de la pagina Contacto*/

.contenidoDeContacto {
    background-color: map-get($paletaDeColores, softWhite);
    background-image: linear-gradient(to bottom, #78bcc455, map-get($paletaDeColores, softWhite));
    padding-top: 50px;
}

.contactoFila {
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
    h3 {
        font-size: 1.8rem;
        font-weight: bold;
    }
    h4 {
        font-size: 1.6rem;
        font-weight: 500;
        color: map-get($paletaDeColores, orangeHighlight);
        line-height: 1.3;
    }
    p {
        font-size: 1.3rem;
        margin-bottom: 2px;
        color: map-get($paletaDeColores, darkerBlue);
    }
    a {
        color: map-get($paletaDeColores, darkerBlue);
    }
    .subtituloDePagina {
        font-size: 2.5rem;
        margin-bottom: 40px;
    }
    section {
        margin-bottom: 100px;
    }
}

.contacto1 {
    padding: 0 10px;
}

.con1Texto  {
    height: 30rem;
    border: 1px solid map-get($paletaDeColores, darkerBlue);
    border-radius: 10px;
    background-color: map-get($paletaDeColores, softWhite);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    @include myflex (column, wrap, center, center);
    align-items: center;
    text-align: center;
    img {
        width: 45px;
        margin-top: 10px;
    }
}

.contacto2 {
    padding: 0 10px;
}

.contenedorTeam {
    @include myflex (row, nowrap, space-evenly, flex-start);
}

.team {
    @include myflex (column, nowrap, flex-start, flex-start);
    width: 45%;
    gap: 10px;
    align-items: center;
    text-align: center;
    margin: 0 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    border: 1px solid map-get($paletaDeColores, darkerBlue);
    border-radius: 10px;
    background-color: map-get($paletaDeColores, softWhite);
    img {
        width: 35%;
        border-radius: 50%;
    }
}

.teamTexto {
    padding-left: 10px;
    padding-right: 10px;
}

.contacto3 {
    @include myflex (column, nowrap, center, flex-start);
    height: 250px;
    padding: 30px 20px;
    text-align: center;
    border: 1px solid map-get($paletaDeColores, darkerBlue);
    border-radius: 10px;
    input {
        display: block;
        width: 100%;
        height: 34px;
        background-color: map-get($paletaDeColores, softWhite);
        padding: 6px 12px;
        font-size: 1.4rem;
        line-height: 1.4;
        border: 1px solid;
        border-radius: 5px;
        margin-bottom: 10px;
        &:focus {
            outline: 0;
            border-color: map-get($paletaDeColores, orangeHighlight); 
        }
    }
    .botonEnviar {
        width: 40%;
        margin: auto;
    }
}

.contacto4 {
    @include myflex (column, nowrap, flex-start, center);
    height: 250px;
    padding: 44px 20px;
    text-align: center;
    border: 1px solid map-get($paletaDeColores, darkerBlue);
    border-radius: 10px;
    img {
        width: 60px;
        transition: .2s ease-in;
        &:hover {
            transform: scale(1.1);
        }
    }
}

.iconosRedes {
    @include myflex (row, nowrap, space-evenly, flex-start);
}

.contacto5 {
    @include myflex (column, nowrap, flex-start, flex-start);
}

.contenidoContacto5 {
    margin-left: 30px;
    margin-right: 30px;
}

.tituloFormulario {
    text-align: center;
    margin-top: 20px;
}

.formFila {
    @include myflex (row, nowrap, flex-start, flex-start);
}

.formSeccion {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

.seccionLarga {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.formGrupo {
    font-size: 1.8rem;
    letter-spacing: .2px;
    margin-bottom: 15px;
    line-height: 25px;
    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 600;
    }
    input {
        display: block;
        width: 100%;
        height: 34px;
        background-color: map-get($paletaDeColores, softWhite);
        padding: 6px 12px;
        font-size: 1.4rem;
        line-height: 1.4;
        border: 1px solid;
        border-radius: 5px;
        &:focus {
            outline: 0;
            border-color: map-get($paletaDeColores, orangeHighlight);
        }
    }
    textarea {
        display: block;
        width: 100%;
        height: auto;
        background-color: map-get($paletaDeColores, softWhite);
        padding: 6px 12px;
        font-size: 1.4rem;
        line-height: 1.4;
        border: 1px solid;
        border-radius: 5px;
        &:focus {
            outline: 0;
            border-color: map-get($paletaDeColores, orangeHighlight);
        }
    }
}

.botonEnviar {
    input {
        display: inline-block;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        padding: 6px 25px;
        font-size: 1.4rem;
        line-height: 1.4;
        border: 1px solid map-get($paletaDeColores, darkerBlue);
        border-radius: 5px;
        transition: .2s ease-out;
        &:hover {
            border-color: map-get($paletaDeColores, orangeHighlight);
            color: map-get($paletaDeColores, orangeHighlight);
        }
    }
}


/*MEDIA QUERIES*/

/*TABLET*/

@media screen and (max-width: 768px) {
    .contenidoDeContacto {
        h4 {
            font-size: 1.4rem;
        }
        h3 {
            font-size: 1.6rem;
        }
        p {
            font-size: 1.2rem;
        }
        .subtituloDePagina {
            font-size: 2rem;
        }
    }

    .contacto1 {
        text-align: center;
    }

    .contenedorTeam {
        flex-direction: column;
        gap: 20px;
    }

    .contacto2 {
        text-align: center;
    }
    .team {
        width: 70%;
        margin: 0 auto
    }
    .contacto3 {
        img {
            width: 40px;
        }
    }
    .contacto4 {
        img {
            width: 55%;
        }
    }
}

/*CELULAR*/

@media screen and (max-width: 500px) {
    .contenidoDeContacto {
        section {
            padding-bottom: 50px;
        }
        .subtituloDePagina {
            font-size: 1.7rem;
            text-align: center;   
        }
    }
    .contacto1 {
        @include myflex (column, wrap, center, center);
        text-align: center;
    }

    .con1Texto {
        width: 100%;
        flex-wrap: nowrap;
    }
    .contacto2 {
        padding: 5px;
        p {
            font-size: 1.2rem;
        }
    }
    .contenedorTeam {
        @include myflex (column, nowrap, space-between, flex-start);
    }
    .team {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-left: 0px;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 100%;
        img {
            width: 50%;
            padding-bottom: 20px;
        }
    }
    .contacto3 {
        .botonEnviar{
            width: 60%;
            text-align: center;
        }
    }
    .formFila {
        flex-wrap: wrap;
    }
    .formSeccion {
        width: 100%;
    }
    .contacto5 {
        .botonEnviar {
            text-align: center;
        }
        label {
            font-size: 1.4rem;
        }
    }
}