/*Estilos de la pagina Conciertos*/ 

.fondo__foto {
    background: url(../imagenes/EnConcierto.jpg) top left repeat-x fixed;
}

/*Keyframes temporada*/
@keyframes span__anim {
    0% {
        padding-top: 0;
        opacity: 0;
    }

    50% {
        opacity: 10%;
    }
    100% {
        padding-top: 60px;
        opacity: 100%;
    }
}

@keyframes H1__anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

/*End of Keyframes temporada*/

.temporada__span {
    padding-left: 20px;
    padding-top: 60px;
    animation: span__anim 1.5s ease-out;
    span {
        font-family: $font__titulos;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.6;
    }
}

.temporada__H1 {
    padding-left: 20px;
    opacity: 0;
    animation-name: H1__anim;
    animation-delay: 1.3s;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    h1 {
        font-family: $font__parrafos;
        font-size: 6rem;
        color: map-get($paletaDeColores, orangeHighlight);
        font-weight: 500;
        line-height: 0.8;
    }
}

.conciertos__listado, .programas {
    padding: 20px 40px;
    margin-bottom: 50px;
    h3 {
        font-size: 1.6rem;
        font-weight: 600;
    }
    h4 {
        font-size: 1.4rem;
        font-weight: 600;
    }
    p {
        font-size: 1.3rem;
    }
    .conciertos__listado--item {
        margin-bottom: 3rem;
        h4 {
            margin-bottom: 3px;
        }
    } 
}

.conciertos__encabezado {
    margin-top: 5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid map-get($paletaDeColores, darkerBlue);
}

.programas {
    border-top: 1px solid  map-get($paletaDeColores, orangeHighlight);

    .pagina__subtitulo {
        margin-top: 30px;
        text-align: center;
        margin-bottom: 60px;
    }
    .programas__item {
        @include myflex (column, nowrap, flex-start, center);
        padding: 0 100px;
        align-items: center;
        text-align: justify;
        margin-bottom: 70px;
        img {
            width: 35px;
            padding-bottom: 10px
        }
        a {
            @extend .boton__Info;
            padding: 3px;
            font-size: 1.1rem;
            img {
                width: 15px;
                padding-bottom: 3px;
            }
        }
    }    
}

/*MEDIA QUERIES*/

/*TABLET*/

@media screen and (max-width: 768px) {
    .temporada__span, .temporada__H1 {
        padding-left: 5px;
        padding-right: 5px;
    }
}

/*CELULAR*/

@media screen and (max-width: 500px) {

    .termporada {
        position:static;
        height: 150px;
    }

    .temporada__span, .temporada__H1 {
        @include myflex (row, nowrap, center, flex-start);
        padding-left: 0;
    }

    .temporada h1 {
        font-size: 4.4rem;    
    }

    .conciertos__listado {
        padding-left: 20px;
        h4 {
            font-size: 1.3rem;
        }
    }

    .programas {
        .programas__item {
            padding: 0 10px;
        } 
    }


}