/*Estilos de la pagina Media*/

.media__contenedor {
    background-image: linear-gradient(to bottom, #78bcc432, map-get($paletaDeColores, softWhite));
}

.media__encabezado {
    @include myflex (column, nowrap, flex-start, flex-start);
    margin: 0 auto;
    gap: 30px;
    max-width: 600px;
    text-align: center;
    margin: 50px auto;
}

.encabezado {
    h1 {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.2;
    color: map-get($paletaDeColores, darkerBlue);
    }
    span {
        color: map-get($paletaDeColores, orangeHighlight);
        display: block;
    }
}

.media__enlaces {
    @include myflex (row, nowrap, center, flex-start);
}

.media__videos {
    padding: 20px;
    padding-bottom: 100px;
    border-bottom: 2px solid map-get($paletaDeColores, darkerBlue);
    border-top: 2px solid map-get($paletaDeColores, darkerBlue);

}

.videos__marco {
    margin: 30px auto;
    width: 90%;
    border: 10px solid map-get($paletaDeColores, softWhite);
    border-radius: 5px;
}

.contenedorIframe {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.media__galeria {
    @include myflex (column, nowrap, flex-start, flex-start);
    padding: 0 20px;
    padding-bottom: 100px;
    align-items: center;
    border-bottom: 2px solid map-get($paletaDeColores, darkerBlue);
}

.slider__contenedor {
    width: 90%;
    border: 10px solid map-get($paletaDeColores, softWhite); 
}

.carousel-control-prev, .carousel-control-next {
    width: 4%;
}

.carousel-control-prev-icon, .carousel-control-next-icon { 
    background-color: map-get($paletaDeColores, orangeHighlight);
    height: 50px;
}
    
.carousel-indicators .active { 
    background-color: map-get($paletaDeColores, orangeHighlight); 
}

.modal-content {
    background-image: linear-gradient(to bottom, #78bcc432, map-get($paletaDeColores, softWhite));
}

.modal-title {
    font-family: $font__titulos;
    font-weight: 600;
}

.media__videos .pagina__subtitulo, .media__galeria .pagina__subtitulo, .media__flyers .pagina__subtitulo {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
} 

.media__flyers {
    @include myflex (column, nowrap, flex-start, flex-start);
    padding: 0 20px;   
    padding-bottom: 100px;
    align-items: center;
    img {
        max-width: 700px;
        width: 90%;
        border: 10px solid map-get($paletaDeColores, softWhite);
        margin-bottom: 20px;
        }
}


/*MEDIA QUERIES*/ 

/*TABLET*/

@media screen and (max-width: 768px) {

.encabezado {
    h1 {
        font-size: 2.3rem;
    }
}

.media__videos, .media__galeria, .media__flyers {
    padding-bottom: 30px;
}

}

/*CELULAR*/

@media screen and (max-width: 500px) {

    .media__enlaces {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1px;
        .enlacesInternos {
            width: 60%;
            font-size: 1.1rem;
        }
    }

    .media__videos .pagina__subtitulo, .media__galeria .pagina__subtitulo, .media__flyers .pagina__subtitulo {
        font-size: 2rem;
    }

    .videos__marco {
        width: 100%;
    }

    .slider__contenedor {
        width: 100%;
    }

    .media__flyers {
        img {
            width: 100%;
        }
    }
}