/*Estilos de la pagina Media*/

.media__contenedorDelBody {
    background-image: linear-gradient(to bottom, #78bcc432, map-get($paletaDeColores, softWhite));
}

.encabezadoMedia {
    @include myflex (column, nowrap, flex-start, flex-start);
    margin: 0 auto;
    gap: 30px;
    max-width: 600px;
    text-align: center;
    margin-top: 50px;
}

.encabezado {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4;
    color: map-get($paletaDeColores, darkerBlue);
    span {
        color: map-get($paletaDeColores, orangeHighlight);
        display: block;
    }
}

.enlacesMedia {
    @include myflex (row, nowrap, center, flex-start);
}

.mediaVideos {
    padding: 20px;
    padding-bottom: 100px;
    border-bottom: 2px solid map-get($paletaDeColores, darkerBlue);
}

.marcoVideo {
    margin: 30px auto;
    width: 80%;
    border: 10px solid map-get($paletaDeColores, softWhite);
    border-radius: 5px;
}

.contenedorIframe {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.mediaGaleria {
    @include myflex (column, nowrap, flex-start, flex-start);
    padding: 0 20px;
    padding-bottom: 100px;
    align-items: center;
    border-bottom: 2px solid map-get($paletaDeColores, darkerBlue);
}

.contenedorDeSlider {
    width: 80%;
    border: 10px solid map-get($paletaDeColores, softWhite); 
}

.carousel-control-prev, .carousel-control-next {
    width: 4%;
}

.carousel-control-prev-icon, .carousel-control-next-icon { 
    background-color: map-get($paletaDeColores, orangeHighlight);
    height: 50px;
}
    
.carousel-indicators .active { 
    background-color: map-get($paletaDeColores, orangeHighlight); 
}

.mediaVideos .subtituloDePagina, .mediaGaleria .subtituloDePagina, .mediaFlyers .subtituloDePagina {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
} 

.mediaFlyers {
    @include myflex (column, nowrap, flex-start, flex-start);
    padding: 0 20px;   
    padding-bottom: 100px;
    align-items: center;
    img {
        max-width: 500px;
        width: 80%;
        border: 10px solid map-get($paletaDeColores, softWhite);
        margin-bottom: 20px;
        }
}


/*MEDIA QUERIES*/ 

/*CELULAR*/

@media screen and (max-width: 500px) {

    .enlacesMedia {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1px;
        .enlacesInternos {
            width: 60%;
        }
    }
}