/* ACLARACIONES: Algunos estilos son completamente temporarios, y la paleta de colores no es la definitiva. 
                 Aun faltan editar las imagenes para que tengan el formato adecuado requerido por las secciones.
                 Algunas elementos funcionan como placeholder de futuras implementaciones. */


/* ESTILOS GENERALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}
  
.contenedor {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', Verdana, Arial, sans-serif;
}

p {
    font-family: Verdana, Tahoma, Arial, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    object-fit: contain;
}

.boton {
    color: white;
    background: #e25d31;
    font-size: 1.3rem;
    font-family: 'Montserrat', Verdana, Arial, sans-serif;
    font-weight: 500;
    border-radius: 8px;
    padding: 1rem 1.8rem;
}

.boton:hover {
    color: white;
}

.boton_Info {
    font-size: 1.1rem;
    font-family: Verdana, Tahoma, Arial, sans-serif;
    border: 1px solid black;
    border-radius: 3px;
    padding: .5rem;
    margin-top: 10px;
}

.subtituloDePagina {
    font-size: 1.9rem;
    font-family: 'Montserrat', Verdana, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.6;
    margin-bottom : 10px;
}

.enlacesInternos  {
    font-size: 1.2rem;
    font-family: Verdana, Tahoma, Arial, sans-serif;
    color: #e25d31f4;
    border: 1px solid;
    padding: 0.5rem 5rem;
    text-align: center;
    transition: .2s ease;
}

.enlacesInternos:hover {
    background-color: #e25d31f4; 
    color: white;
}


/* ESTILOS DEL HEADER */

.contenedorDelEncabezado {
    background-color: #012C3D;
    padding: 20px 30px;
}

.logo a {
    font-family: Georgia;
    font-size: 3.8rem;
    font-weight: 400;
    line-height: 1.2;
    color: white;
}

.logo span {
    color: #e25d31;
}

.nav__menu {
    display: flex;
    justify-content: flex-end;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.nav__lista {
    min-height: 25px;
    margin-bottom: 0;
}

.nav__lista li {
    display: inline-block;
}

.nav__lista .nav__lista--link {
    font-family: 'Montserrat', Verdana, Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color:white;
    margin: 1rem;
    border-bottom: 1px solid #e25d3100;
    transition: .2s ease-in;
} 

.nav__lista li:hover .nav__lista--link {
    border-bottom: 1px solid #e25d31;
}

/* ESTILOS DEL FOOTER */

footer {
    background-image: linear-gradient(to top, #78bcc4b4, #F7F8F3);
}

.contenedorDelFooter {
    padding-top: 70px;
    border-top: 1px #e25d31 solid;
} 

.footer__columna1 {
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.footer__columna1 input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 1.4rem;
    line-height: 1.4;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}

.footer__columna1 input:focus {
    outline: 0;
    border-color: #e25d31;
}

.footer__columna1 .botonEnviar {
    width: 50%;
    margin: auto;
}

.footer__columna2 {
    padding: 10px 40px;
    text-align: center;
}

.footer__redes {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}

.footer__columna2 img {
    width: 50px;
    transition: .2s, ease-in;
}

.footer__columna2 img:hover {
    transform: scale(1.1);
}

.footer__columna3 {
    padding: 10px 40px;
    text-align: center;
}

.footer__titulo {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.footer__columna3 .footer__titulo {
    margin-bottom: 50px;
}

.copyright {
    margin-top: 30px;
    padding-left: 5rem;
    padding-bottom: 2rem;
}
.copyright__texto {
    font-size: 1.2rem;
}


/* ESTILOS DE PAGINA INDEX */

/* Portada */

.index__portada {
    position: relative;
}

.portada__presentacion {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    min-height: 70px;
    padding: 10px 45px 25px 45px;
}

.portada__presentacion h1 {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 3.9rem;
    line-height: 1.4;
    color: white;
}

.portada__presentacion h2 {
    font-size: 1.7rem;
    line-height: 1.4;
    letter-spacing: 0.6px;
    color: white;   
}

/* Sections del Index: Proximos conciertos y Noticias */
.conciertos {
    background-image: linear-gradient(to bottom, #78bcc442, #F7F8F3);
}

.noticias {
    background-color: #F7F8F3;
}

.index__sections {
    padding: 3rem;
    height: 100%;
}

.index__sections article {
    margin: 45px 0;
}

.index__sections h3 {
    font-size: 1.4rem;
    line-height: 1.4;
    color: #e25d31;
    margin-bottom: 2px;
}

.index__sections p {
    font-size: 1.3rem;
    line-height: 1.4;
    margin-bottom: 10px;
    text-align: left;
}


/* ESTILOS DE LA PAGINA BIOGRAFIA */

.biografia__contenedorDelBody {
    background-image: linear-gradient(to bottom, #78bcc432 35%, #F7F8F3 65%);
}

.enlacesBiografia {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.filaBio {
    padding-top: 1rem;
    padding-bottom: 10rem;
    padding-left: 30px;
    padding-right: 30px;
}

.directorFotos, .ensambleFotos {
    padding: 10px;
}

.ensambleTexto, .directorTexto {
    padding: 0 20px;
}
 
.directorTexto p, .ensambleTexto p {
    font-size: 1.3rem;
    line-height: 1.4;
}

    
/* ESTILOS DE LA PAGINA CONCIERTOS */

.conciertos__contenedorDelBody {
        background-color: white;
}

/*Keyframes temporada*/
@keyframes spanAnim {
    0% {
        padding-top: 0;
        opacity: 0;
    }

    50% {
        opacity: 10%;
    }
    100% {
        padding-top: 60px;
        opacity: 100%;
    }
}

@keyframes H1__Anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

/*End of Keyframes temporada*/


.temporadaSpan {
    font-family: 'Montserrat, Verdana, Arial, sans-serif';
    font-size: 1.4rem;
    padding-left: 60px;
    padding-top: 60px;
    animation: spanAnim 1s ease-out;
}

.temporadaH1 {
    padding-left: 60px;
    font-family: 'Verdana, Tahoma, Arial, sans-serif';
    font-size: 4.5rem;
    color: #e25d31;
    line-height: 0.8;
    opacity: 0;
    animation-name: H1__Anim;
    animation-delay: .8s;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.listadoConciertos {
    padding: 20px 40px;
}

.listadoConciertos h3 {
    font-size: 1.6rem;
}

.listadoConciertos h4 {
    font-size: 1.4rem;
}

.listadoConciertos p {
    font-size: 1.3rem;
}

.encabezadoConciertos {
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.listadoConciertos .itemConcierto {
    margin-bottom: 3rem;
} 

.itemConcierto h4 {
    margin-bottom: 3px;
}


/* ESTILOS DE LA PAGINA MEDIA */

.media__contenedorDelBody {
    background-image: linear-gradient(to bottom, #78bcc432, #F7F8F3);
}

.encabezadoMedia {
    display: flex;
    flex-direction: column;
    margin: 0  auto;
    gap: 30px;
    max-width: 600px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

.encabezado {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4;
    color: black;
}

.enalcesMedia {
    display: flex;
}

.encabezado span {
    color: #e25d31;
    display: block;
}

.mediaVideos { 
    padding: 20px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-bottom: 2px solid #012C3D;
}

.marcoVideo {
    margin: 0 auto;
    width: 80%;
}

.contenedorIframe {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.contenedorIframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mediaGaleria {
    padding: 0 20px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid #012C3D;
}

.mediaGaleria img {
    width: 80%;
}

.mediaFlyers {
    padding: 0 20px;   
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mediaVideos .subtituloDePagina, .mediaGaleria .subtituloDePagina, .mediaFlyers .subtituloDePagina {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
} 

.mediaFlyers img {
    max-width: 500px;
    width: 80%;
    margin-bottom: 20px;
}

/* ESTILOS DE PAGINA CONTACTO */

.contacto__contenedorDelBody {
    background-color: white;
}

.contacto__contenedorDelBody h3 {
    font-size: 1.8rem;
}

.contacto__contenedorDelBody h4 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;
}

.contacto__contenedorDelBody p {
    font-size: 1.3rem;
    line-height: 1.4;
}

.contacto__contenedorDelBody .subtituloDePagina {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.contacto__contenedorDelBody section {
    padding-bottom: 100px;
}

.contacto1 {
    margin-left: 40px;
    margin-top: 50px;
} 

.contacto2 {
    margin-top: 50px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
}

.contenedorTeam {
    display: flex;   
    align-items: center; 
}

.team{
    width: 50%;
}


.team img {
    width: 40%;
}

.contacto3 {
    margin: 0 auto;
    border-bottom: 1px solid #012C3D;
}

.iconosRedes {
    display: flex;
    justify-content: space-evenly;
}

.contacto3 img {
    width: 70px;
    transition: .2s ease-in;
}

.contacto3 img:hover {
    transform: scale(1.1);
}

.contacto4 {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #78bcc455, #F7F8F3);
}

.contenidoContacto4 {
    margin-left: 30px;
    margin-right: 30px;
}

.tituloFormulario {
    text-align: center;
    margin-top: 20px;
}

.formFila {
    display: flex;
}
.formSeccion {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

.seccionLarga {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.formGrupo {
    font-size: 1.8rem;
    letter-spacing: .2px;
    margin-bottom: 15px;
    line-height: 25px;
}

.formGrupo label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.formGrupo input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 1.4rem;
    line-height: 1.4;
    border: 1px solid;
    border-radius: 5px;
}

.formGrupo textarea {
    display: block;
    width: 100%;
    height: auto;
    padding: 6px 12px;
    font-size: 1.4rem;
    line-height: 1.4;
    border: 1px solid;
    border-radius: 5px;
}

.formGrupo input:focus, .formGrupo textarea:focus {
    outline: 0;
    border-color: #e25d31;
} 

.botonEnviar input {
    display: inline-block;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 6px 12px;
    font-size: 1.4rem;
    line-height: 1.4;
    border: 1px solid lightgrey;
    border-radius: 5px;
    transition: .2s ease-in;
}

.botonEnviar input:hover {
    border-color: #e25d31;
}

/*Media queries*/

/*TABLET*/

@media screen and (max-width: 768px) {

/*Header*/

.logo {
    justify-content: center;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

nav {
    justify-content: center;
}

.nav__menu {
    text-align: right;
}

.nav__lista {
    padding-left: 0;
}

/* Footer */
   
.footer__columna3 {
    margin: auto;
    padding-top: 30px;
}

.footer__columna3 .footer__titulo {
    margin-bottom: 20px;
}
.copyright {
    margin-top: 5rem;
    text-align: center;
}
.copyright__texto {
    font-size: 1.3rem;
}

/*Contacto*/

.contacto1 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.contacto2 {
    align-items: center;
}

.team {
    padding-left: 80px;
}

.contacto3 img {
    width: 50px;
}

}


/*CELULAR*/

@media screen and (max-width: 500px) {

    /*Generales*/
    
    .subtituloDePagina {
        font-size: 1.6rem;
    }

    /*Header*/

    .logo {
        justify-content: center;
        text-align: center;
    }

    .logo a {
        font-size: 3rem;
    }

    .nav__menu {
        justify-content: center;
    }

    .nav__lista li {
        display: block;
        text-align: center;
        margin-bottom: 5px;
    }

    .nav__lista .nav__lista--link {
        font-size: 1.3rem;
    }

    /*Footer*/

    .footer__columna1, .footer__columna2, .footer__columna3 {
        margin-bottom: 20px;
    }

    .footer__redes img {
        width: 45px;
    }
    
    .copyright {
        margin-top: 5rem;
        width: 90%;
    }

    /*Index*/

    /*Index portada*/

    .portada__presentacion {
        padding: 10px 45px 10px 45px;
    }
    .portada__presentacion h1 {
        font-size: 1.7rem;
    }

    .portada__presentacion h2 {
        font-size: 1rem;
    }

    /*Index conciertos*/
    
    .index__sections .subtituloDePagina{
        text-align: center;
    }

    .botonCalendario {
        display: flex;
        justify-content: center;
    }

    /*Biografia*/

    .enlacesBiografia {
        flex-wrap: wrap;
        gap: 0.1rem;
        text-align: center;
    }

    .enlacesBiografia a {
        font-size: 0.9rem;
    }

    .ensambleFotos .directorFotos {
        padding: 0 10px;
    }
    
    /*Conciertos*/

    .temporada {
        padding-left: 20px;
        padding-top: 60px;
    }

    .temporada h1 {
        font-size: 4.4rem;
    }

    .listadoConciertos {
        padding-left: 20px;
    }

    .listadoConciertos h4 {
        font-size: 1.3rem;
    }

    /*Media*/

    .enlacesMedia {
        display: flex;
        flex-direction: column;
        gap: 1px;
    }

    /*Contacto*/

    .contacto__contenedorDelBody .subtituloDePagina {
        font-size: 1.7rem;
        
    }

    .contacto1 {
        margin-left: 0;
    }

    .contenedorTeam {
        flex-direction: column;
        justify-content: space-between;
    }

    .team {
        text-align: center;
        padding-left: 0;
        padding-bottom: 50px;
        width: 100%;
    }

    .team img {
        padding-bottom: 20px;
    }

    .formFila {
        flex-wrap: wrap;
    }
    .formSeccion {
        width: 100%;
    }

}