/* VARIABLES*/
/*Paleta de colores*/
/*Fonts*/
/*ESTILOS GENERALES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }

.contenedor {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  background-color: #F7F8F3; }

h1, h2, h3, h4 {
  font-family: "Montserrat", Verdana, Arial, sans-serif; }

p {
  font-family: Verdana, Tahoma, Arial, sans-serif; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

img {
  width: 100%;
  object-fit: contain; }

.boton {
  color: #F7F8F3;
  background: #e25d31;
  font-size: 1.3rem;
  font-family: "Montserrat", Verdana, Arial, sans-serif;
  font-weight: 500;
  border-radius: 8px;
  padding: 1rem 1.8rem; }

.boton:hover {
  color: #F7F8F3; }

.boton_Info {
  font-size: 1.1rem;
  font-family: Verdana, Tahoma, Arial, sans-serif;
  border: 1px solid #012C3D;
  border-radius: 3px;
  padding: .5rem;
  margin-top: 10px; }

.subtituloDePagina {
  font-size: 1.9rem;
  font-family: "Montserrat", Verdana, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 10px; }

.enlacesInternos {
  font-size: 1.2rem;
  font-family: Verdana, Tahoma, Arial, sans-serif;
  color: #e25d31f4;
  border: 1px solid;
  padding: 0.5rem 5rem;
  text-align: center;
  transition: .2s ease; }
  .enlacesInternos:hover {
    background-color: #e25d31f4;
    color: white; }

.fondoTextura {
  background-color: #F7F8F3;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23e25d31' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); }

/*ESTILOS DEL HEADER*/
.contenedorDelEncabezado {
  background-color: #012C3D;
  padding: 20px 30px; }

.logo a {
  font-family: Georgia;
  font-size: 3.8rem;
  font-weight: 400;
  line-height: 1.2;
  color: #F7F8F3; }

.logo span {
  color: #e25d31; }

.nav__menu {
  display: flex;
  justify-content: flex-end; }

.navbar {
  padding-top: 0;
  width: 100%; }
  .navbar .container-fluid {
    justify-content: flex-end;
    align-content: flex-end;
    padding-right: 0; }

.navbar-light .navbar-toggler {
  border-color: #F7F8F3;
  padding: 0.5rem 1rem; }

.navbar-light .navbar-nav .nav-link {
  font-family: "Montserrat", Verdana, Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  color: #F7F8F3;
  margin: 1rem;
  border-bottom: 1px solid #e25d3100;
  transition: color .2s ease-in; }
  .navbar-light .navbar-nav .nav-link:hover {
    color: #e25d31; }

.navbar-light .navbar-nav .nav-link.active {
  color: #F7F8F3;
  text-shadow: 1px 1px 10px #F7F8F3; }
  .navbar-light .navbar-nav .nav-link.active:hover {
    color: #e25d31; }

.icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #F7F8F3;
  border-radius: 1px;
  margin: 3px 0; }

/*ESTILOS DEL FOOTER*/
footer {
  background-image: linear-gradient(to top, #78bcc4b4, #F7F8F3); }

.contenedorDelFooter {
  padding-top: 70px;
  border-top: 1px #e25d31 solid; }

.footer__titulo {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 2rem; }

.footer__columna1 {
  padding: 10px 40px;
  display: flex;
  justify-content: center;
  text-align: center; }
  .footer__columna1 input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 1.4rem;
    line-height: 1.4;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    background-color: #F7F8F3; }
    .footer__columna1 input:focus {
      outline: 0;
      border-color: #e25d31; }
  .footer__columna1 .botonEnviar {
    width: 50%;
    margin: auto; }

.footer__columna2 {
  padding: 10px 40px;
  text-align: center; }
  .footer__columna2 img {
    width: 50px;
    transition: scale .2s, ease-in; }
    .footer__columna2 img:hover {
      transform: scale(1.1); }

.footer__redes {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly; }

.footer__columna3 {
  padding: 10px 40px;
  text-align: center; }
  .footer__columna3 .footer__titulo {
    margin-bottom: 50px; }

.copyright {
  margin-top: 30px;
  padding-left: 5rem;
  padding-bottom: 2rem; }
  .copyright .copyright__texto {
    font-size: 1.2rem; }

/*MEDIA QUERIES*/
/*TABLET*/
@media screen and (max-width: 768px) {
  /*Header*/
  .offcanvas {
    background-color: #F7F8F3;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23e25d31' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); }
  .offcanvas-header {
    margin: 10px;
    background-color: #012C3D;
    min-height: 50px; }
    .offcanvas-header .btn-close {
      padding-left: 2rem;
      background-color: #F7F8F3;
      color: #012C3D; }
  .offcanvas-body {
    margin: 10px;
    background-color: #012C3D;
    background-image: linear-gradient(to bottom, #78bcc442, #F7F8F3); }
  .offcanvas-backdrop.show {
    opacity: .8; }
  /*Footer*/
  .footer__columna3 {
    margin: auto;
    padding-top: 30px; }
    .footer__columna3 .footer__titulo {
      margin-bottom: 20px; }
  .copyright {
    margin-top: 5rem;
    text-align: center; }
    .copyright .copyright__texto {
      font-size: 1.3rem; } }

/*CELULAR*/
@media screen and (max-width: 500px) {
  /*Header*/
  .logo {
    text-align: center; }
    .logo a {
      font-size: 3rem; }
  .navbar-toggler {
    justify-content: center; }
  .navbar .container-fluid {
    justify-content: center;
    margin-top: 20px; }
  /*Footer*/
  .footer__columna1, .footer__columna2, .footer__columna3 {
    margin-bottom: 20px; }
  .footer__redes img {
    width: 45px; }
  .copyright {
    margin-top: 5rem;
    width: 90%; } }

/*Estilos de pagina Index*/
/*Portada*/
.index__portada {
  position: relative;
  max-height: 500px; }
  .index__portada img {
    filter: grayscale(90%); }

.portada__presentacion {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  min-height: 70px;
  padding: 10px 45px 25px 45px;
  z-index: 10; }
  .portada__presentacion h1 {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 3.9rem;
    line-height: 1.4;
    color: #F7F8F3; }
  .portada__presentacion h2 {
    font-size: 1.7rem;
    line-height: 1.4;
    letter-spacing: 0.6px;
    color: #F7F8F3; }

/* Sections del Index: Proximos conciertos y Noticias */
.conciertos {
  background-image: linear-gradient(to bottom, #78bcc442, #F7F8F3); }

.noticias {
  background-color: #F7F8F3; }

.index__sections {
  padding: 3rem;
  height: 100%; }
  .index__sections article {
    margin: 45px 0; }
  .index__sections h3 {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4;
    color: #e25d31;
    margin-bottom: 2px; }
  .index__sections p {
    font-size: 1.3rem;
    line-height: 1.4;
    margin-bottom: 10px;
    text-align: left; }

/*MEDIA QUERIES*/
/*CELULAR*/
@media screen and (max-width: 500px) {
  /*Portada*/
  .portada__presentacion {
    padding: 10px 45px 10px 45px; }
    .portada__presentacion h1 {
      font-size: 1.7rem; }
    .portada__presentacion h2 {
      font-size: 1rem; }
  /*Sections*/
  .index__sections .subtituloDePagina {
    text-align: center; }
  .botonCalendario {
    display: flex;
    justify-content: center; } }

/*Estilos de la pagina Biografia*/
.biografia__contenedorDelBody {
  background-image: linear-gradient(to bottom, #78bcc432 35%, #F7F8F3 65%); }

.enlacesBiografia {
  display: flex;
  justify-content: center;
  padding: 50px 0; }

.filaBio {
  padding-top: 1rem;
  padding-bottom: 10rem;
  padding-left: 30px;
  padding-right: 30px; }

.ensambleFotos {
  border: 10px solid #F7F8F3;
  border-radius: 5px; }

.directorFotos {
  border: 10px solid #78bcc432;
  border-radius: 5px; }

.ensambleTexto {
  padding: 0 20px; }
  .ensambleTexto p {
    font-size: 1.3rem;
    line-height: 1.4; }

.directorTexto {
  padding: 0 20px; }
  .directorTexto p {
    font-size: 1.3rem;
    line-height: 1.4; }

/*MEDIA QUERIES*/
/*CELULAR*/
@media screen and (max-width: 500px) {
  .enlacesBiografia {
    flex-wrap: wrap;
    gap: 0.1rem;
    text-align: center; }
    .enlacesBiografia a {
      font-size: 0.9rem; }
  .ensambleFotos .directorFotos {
    padding: 0 10px; } }

/*Estilos de la pagina Conciertos*/
.fondoFoto {
  background: #012C3D;
  /*estilo temporal*/ }

/*Keyframes temporada*/
@keyframes spanAnim {
  0% {
    padding-top: 0;
    opacity: 0; }
  50% {
    opacity: 10%; }
  100% {
    padding-top: 60px;
    opacity: 100%; } }

@keyframes H1__Anim {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

/*End of Keyframes temporada*/
.temporadaSpan {
  padding-left: 20px;
  padding-top: 60px;
  animation: spanAnim 1s ease-out; }
  .temporadaSpan span {
    font-family: "Montserrat", Verdana, Arial, sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.6; }

.temporadaH1 {
  padding-left: 20px;
  opacity: 0;
  animation-name: H1__Anim;
  animation-delay: .8s;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards; }
  .temporadaH1 h1 {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 6rem;
    color: #e25d31;
    font-weight: 500;
    line-height: 0.8; }

.listadoConciertos {
  padding: 20px 40px; }
  .listadoConciertos h3 {
    font-size: 1.6rem;
    font-weight: 600; }
  .listadoConciertos h4 {
    font-size: 1.4rem;
    font-weight: 600; }
  .listadoConciertos p {
    font-size: 1.3rem; }
  .listadoConciertos .itemConcierto {
    margin-bottom: 3rem; }
    .listadoConciertos .itemConcierto h4 {
      margin-bottom: 3px; }

.encabezadoConciertos {
  margin-top: 5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #012C3D; }

/*MEDIA QUERIES*/
/*TABLET*/
@media screen and (max-width: 768px) {
  .temporadaSpan, .temporadaH1 {
    padding-left: 5px;
    padding-right: 5px; } }

/*CELULAR*/
@media screen and (max-width: 500px) {
  .termporadaAnimContaniner {
    position: static;
    height: 150px; }
  .temporadaSpan, .temporadaH1 {
    display: flex;
    padding-left: 0;
    justify-content: center; }
  .temporada h1 {
    font-size: 4.4rem; }
  .listadoConciertos {
    padding-left: 20px; }
    .listadoConciertos h4 {
      font-size: 1.3rem; } }

/*Estilos de la pagina Media*/
.media__contenedorDelBody {
  background-image: linear-gradient(to bottom, #78bcc432, #F7F8F3); }

.encabezadoMedia {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 30px;
  max-width: 600px;
  text-align: center;
  margin-top: 50px; }

.encabezado {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4;
  color: #012C3D; }
  .encabezado span {
    color: #e25d31;
    display: block; }

.enlacesMedia {
  display: flex;
  justify-content: center; }

.mediaVideos {
  padding: 20px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-content: center;
  border-bottom: 2px solid #012C3D; }

.marcoVideo {
  margin: 30px auto;
  width: 80%;
  border: 10px solid #F7F8F3;
  border-radius: 5px; }

.contenedorIframe {
  position: relative;
  width: 100%;
  padding-top: 56.25%; }
  .contenedorIframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.mediaGaleria {
  padding: 0 20px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #012C3D; }

.contenedorDeSlider {
  width: 80%;
  border: 10px solid #F7F8F3; }

.carousel-control-prev, .carousel-control-next {
  width: 4%; }

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #e25d31;
  height: 50px; }

.carousel-indicators .active {
  background-color: #e25d31; }

.mediaVideos .subtituloDePagina, .mediaGaleria .subtituloDePagina, .mediaFlyers .subtituloDePagina {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px; }

.mediaFlyers {
  padding: 0 20px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mediaFlyers img {
    max-width: 500px;
    width: 80%;
    border: 10px solid #F7F8F3;
    margin-bottom: 20px; }

/*MEDIA QUERIES*/
/*CELULAR*/
@media screen and (max-width: 500px) {
  .enlacesMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px; }
    .enlacesMedia .enlacesInternos {
      width: 60%; } }

/*Estilo de la pagina Contacto*/
.contenidoDeContacto {
  background-color: #F7F8F3;
  background-image: linear-gradient(to bottom, #78bcc455, #F7F8F3);
  padding-top: 50px; }

.contactoFila {
  margin-left: 0;
  margin-right: 0;
  padding-left: 20px;
  padding-right: 20px; }
  .contactoFila h3 {
    font-size: 1.8rem;
    font-weight: bold; }
  .contactoFila h4 {
    font-size: 1.6rem;
    font-weight: 500;
    color: #e25d31;
    line-height: 1.3; }
  .contactoFila p {
    font-size: 1.3rem;
    margin-bottom: 2px;
    color: #012C3D; }
  .contactoFila a {
    color: #012C3D; }
  .contactoFila .subtituloDePagina {
    font-size: 2.5rem;
    margin-bottom: 40px; }
  .contactoFila section {
    padding-bottom: 100px; }

.contacto2 {
  display: flex;
  flex-direction: column;
  padding: 0 10px; }

.contenedorTeam {
  display: flex;
  justify-content: space-between; }

.team {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
  margin: 0 10px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #012C3D;
  border-radius: 10px;
  background-color: #F7F8F3; }
  .team img {
    width: 35%;
    border-radius: 50%; }

.teamTexto {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start; }

.contacto3 {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  text-align: center; }
  .contacto3 input {
    display: block;
    width: 100%;
    height: 34px;
    background-color: #F7F8F3;
    padding: 6px 12px;
    font-size: 1.4rem;
    line-height: 1.4;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 10px; }
    .contacto3 input:focus {
      outline: 0;
      border-color: #e25d31; }
  .contacto3 .botonEnviar {
    width: 40%;
    margin: auto; }

.contacto4 {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center; }
  .contacto4 img {
    width: 60px;
    transition: .2s ease-in; }
    .contacto4 img:hover {
      transform: scale(1.1); }

.iconosRedes {
  display: flex;
  justify-content: space-evenly; }

.contacto5 {
  display: flex;
  flex-direction: column; }

.contenidoContacto5 {
  margin-left: 30px;
  margin-right: 30px; }

.tituloFormulario {
  text-align: center;
  margin-top: 20px; }

.formFila {
  display: flex; }

.formSeccion {
  width: 50%;
  padding-left: 15px;
  padding-right: 15px; }

.seccionLarga {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px; }

.formGrupo {
  font-size: 1.8rem;
  letter-spacing: .2px;
  margin-bottom: 15px;
  line-height: 25px; }
  .formGrupo label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 600; }
  .formGrupo input {
    display: block;
    width: 100%;
    height: 34px;
    background-color: #F7F8F3;
    padding: 6px 12px;
    font-size: 1.4rem;
    line-height: 1.4;
    border: 1px solid;
    border-radius: 5px; }
    .formGrupo input:focus {
      outline: 0;
      border-color: #e25d31; }
  .formGrupo textarea {
    display: block;
    width: 100%;
    height: auto;
    background-color: #F7F8F3;
    padding: 6px 12px;
    font-size: 1.4rem;
    line-height: 1.4;
    border: 1px solid;
    border-radius: 5px; }
    .formGrupo textarea:focus {
      outline: 0;
      border-color: #e25d31; }

.botonEnviar input {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 6px 25px;
  font-size: 1.4rem;
  line-height: 1.4;
  border: 1px solid #012C3D;
  border-radius: 5px;
  transition: .2s ease-out; }
  .botonEnviar input:hover {
    border-color: #e25d31;
    color: #e25d31; }

/*MEDIA QUERIES*/
/*TABLET*/
@media screen and (max-width: 768px) {
  .contenidoDeContacto h4 {
    font-size: 1.4rem; }
  .contenidoDeContacto h3 {
    font-size: 1.6rem; }
  .contenidoDeContacto p {
    font-size: 1.2rem; }
  .contenidoDeContacto .subtituloDePagina {
    font-size: 2rem; }
  .contenedorTeam {
    flex-direction: column;
    gap: 20px; }
  .team {
    width: 70%;
    margin: 0 auto; }
  .contacto3 img {
    width: 40px; }
  .contacto4 img {
    width: 55%; } }

/*CELULAR*/
@media screen and (max-width: 500px) {
  .contenidoDeContacto section {
    padding-bottom: 50px; }
  .contenidoDeContacto .subtituloDePagina {
    font-size: 1.7rem;
    text-align: center; }
  .contacto1 {
    display: flex;
    justify-content: center;
    text-align: center;
    border-right: none; }
  .contacto2 {
    padding: 5px; }
    .contacto2 p {
      font-size: 1.2rem; }
  .contenedorTeam {
    flex-direction: column;
    justify-content: space-between; }
  .team {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%; }
    .team img {
      width: 50%;
      padding-bottom: 20px; }
  .contacto3 .botonEnviar {
    width: 60%;
    text-align: center; }
  .formFila {
    flex-wrap: wrap; }
  .formSeccion {
    width: 100%; }
  .contacto5 .botonEnviar {
    text-align: center; }
  .contacto5 label {
    font-size: 1.4rem; } }

/*MEDIA QUERIES*/
@media screen and (max-width: 500px) {
  .subtituloDePagina {
    font-size: 1.6rem; } }
