/* VARIABLES*/
/*Paleta de colores - "Map" aplicado*/
/*Fonts*/
/*Flex - Mixin*/
/*ESTILOS GENERALES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }

.contenedor {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  background-color: #F7F8F3; }

h1, h2, h3, h4 {
  font-family: "Montserrat", Verdana, Arial, sans-serif; }

p {
  font-family: Verdana, Tahoma, Arial, sans-serif; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

img {
  width: 100%;
  object-fit: contain; }

.boton {
  color: #F7F8F3;
  background: #e25d31;
  font-size: 1.3rem;
  font-family: "Montserrat", Verdana, Arial, sans-serif;
  font-weight: 500;
  border-radius: 8px;
  padding: 1rem 1.8rem; }
  .boton:hover {
    color: #F7F8F3; }

.boton__Info, .programas .programas__item a {
  font-size: 1.1rem;
  font-family: Verdana, Tahoma, Arial, sans-serif;
  border: 1px solid #012C3D;
  border-radius: 3px;
  padding: .5rem;
  margin-top: 10px;
  box-shadow: .1px .1px 2px grey; }

.pagina__subtitulo, .footer__titulo {
  font-family: "Montserrat", Verdana, Arial, sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 10px;
  text-transform: uppercase; }

.enlacesInternos {
  font-size: 1.2rem;
  font-family: Verdana, Tahoma, Arial, sans-serif;
  color: #e25d31f4;
  border: 1px solid;
  padding: 0.5rem 5rem;
  text-align: center;
  transition: .2s ease; }
  .enlacesInternos:hover {
    background-color: #e25d31f4;
    color: #F7F8F3; }

.fondo__textura {
  background-color: #F7F8F3;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23e25d31' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); }

/*MEDIA QUERIES*/
@media screen and (max-width: 500px) {
  .pagina__subtitulo, .footer__titulo {
    font-size: 2rem; } }

/*ESTILOS DEL HEADER*/
.encabezado__contenedor {
  background-color: #012C3D;
  padding: 20px 30px; }

.logo a {
  font-family: Georgia;
  font-size: 3.8rem;
  font-weight: 400;
  line-height: 1.2;
  color: #F7F8F3; }

.logo span {
  color: #e25d31; }

.nav__menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: flex-start; }

.navbar {
  padding-top: 0;
  width: 100%; }
  .navbar .container-fluid {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: flex-end;
    padding-right: 0; }

.navbar-light .navbar-toggler {
  border-color: #F7F8F3;
  padding: 0.5rem 1rem; }

.navbar-light .navbar-nav .nav-link {
  font-family: "Montserrat", Verdana, Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  color: #F7F8F3;
  margin: 1rem;
  border-bottom: 1px solid #e25d3100;
  transition: color .2s ease-in; }
  .navbar-light .navbar-nav .nav-link:hover {
    color: #e25d31; }

.navbar-light .navbar-nav .nav-link.active {
  color: #F7F8F3;
  text-shadow: 1px 1px 10px #F7F8F3; }
  .navbar-light .navbar-nav .nav-link.active:hover {
    color: #e25d31; }

.icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #F7F8F3;
  border-radius: 1px;
  margin: 3px 0; }

/*ESTILOS DEL FOOTER*/
footer {
  background-image: linear-gradient(to top, #78bcc4b4, #F7F8F3); }

.footer__contenedor {
  padding-top: 50px;
  border-top: 1px #e25d31 solid; }

.footer__titulo {
  text-transform: none;
  font-size: 1.6rem;
  margin-bottom: 2rem; }

.footer__columna1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  padding: 10px 40px; }
  .footer__columna1 input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 1.4rem;
    line-height: 1.4;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    background-color: #F7F8F3; }
    .footer__columna1 input:focus {
      outline: 0;
      border-color: #e25d31; }
  .footer__columna1 .botonEnviar {
    width: 50%;
    margin: auto; }
    .footer__columna1 .botonEnviar input:hover {
      color: #e25d31;
      border-color: #e25d31; }

.footer__columna2 {
  padding: 10px 40px;
  text-align: center; }
  .footer__columna2 img {
    width: 45px;
    transition: scale .2s, ease-in; }
    .footer__columna2 img:hover {
      transform: scale(1.1); }

.footer__redes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: flex-start; }

.footer__columna3 {
  padding: 10px 40px;
  text-align: center; }
  .footer__columna3 .footer__titulo {
    margin-bottom: 30px; }

.copyright {
  margin-top: 30px;
  padding-left: 5rem;
  padding-bottom: 2rem; }
  .copyright .copyright__texto {
    font-size: 1.1rem; }

/*MEDIA QUERIES*/
/*TABLET*/
@media screen and (max-width: 768px) {
  /*Header*/
  .offcanvas {
    background-color: #F7F8F3;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23e25d31' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); }
  .offcanvas-header {
    margin: 10px;
    background-color: #012C3D;
    min-height: 50px; }
    .offcanvas-header .btn-close {
      padding-left: 2rem;
      background-color: #F7F8F3;
      color: #012C3D; }
  .offcanvas-body {
    margin: 10px;
    background-color: #012C3D;
    background-image: linear-gradient(to bottom, #78bcc442, #F7F8F3); }
  .offcanvas-backdrop.show {
    opacity: .8; }
  /*Footer*/
  .footer__columna3 {
    margin: auto;
    padding-top: 30px; }
    .footer__columna3 .footer__titulo {
      margin-bottom: 20px; }
  .copyright {
    margin-top: 5rem;
    text-align: center; }
    .copyright .copyright__texto {
      font-size: 1.1rem; } }

/*CELULAR*/
@media screen and (max-width: 500px) {
  /*Header*/
  .logo {
    text-align: center; }
    .logo a {
      font-size: 3rem; }
  .navbar-toggler {
    justify-content: center; }
  .navbar .container-fluid {
    justify-content: center;
    margin-top: 20px; }
  /*Footer*/
  .footer__columna1, .footer__columna2, .footer__columna3 {
    margin-bottom: 20px; }
  .footer__columna1 {
    text-align: center; }
  .footer__columna3 {
    padding-top: 10px; }
  .footer__redes img {
    width: 45px; }
  .copyright {
    margin-top: 3rem;
    width: 90%; } }

/*Estilos de pagina Index*/
/*Portada*/
.index__portada {
  position: relative;
  max-height: 500px; }
  .index__portada img {
    filter: grayscale(90%); }

.portada__presentacion {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  min-height: 70px;
  padding: 10px 45px 25px 45px;
  z-index: 10; }
  .portada__presentacion h1 {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 3.9rem;
    line-height: 1.4;
    color: #F7F8F3; }
  .portada__presentacion h2 {
    font-size: 1.7rem;
    line-height: 1.4;
    letter-spacing: 0.6px;
    color: #F7F8F3; }

/* Sections del Index: Proximos conciertos y Noticias */
.conciertos {
  background-image: linear-gradient(to bottom, #78bcc442, #F7F8F3); }

.noticias {
  background-color: #F7F8F3; }

.index__sections {
  padding: 3rem;
  height: 100%; }
  .index__sections article {
    margin: 30px 0; }
  .index__sections h3 {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4;
    color: #e25d31;
    margin-bottom: 2px; }
  .index__sections p {
    font-size: 1.3rem;
    line-height: 1.4;
    margin-bottom: 12px;
    text-align: left; }

/*MEDIA QUERIES*/
/*CELULAR*/
@media screen and (max-width: 500px) {
  /*Portada*/
  .portada__presentacion {
    padding: 10px 45px 10px 45px; }
    .portada__presentacion h1 {
      font-size: 2.3rem; }
    .portada__presentacion h2 {
      font-size: 1.2rem; }
  /*Sections*/
  .index__sections .pagina__subtitulo, .index__sections .footer__titulo {
    text-align: center; }
  .boton__calendario {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start; } }

/*Estilos de la pagina Biografia*/
.biografia__contenedor {
  background-image: linear-gradient(to bottom, #78bcc432 35%, #F7F8F3 65%); }

.biografia__enlaces {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-start;
  padding: 50px 0; }

.biografia__fila {
  padding-top: 1rem;
  padding-bottom: 10rem;
  padding-left: 30px;
  padding-right: 30px; }

.ensamble__fotos {
  border: 10px solid #F7F8F3;
  border-radius: 5px; }

.director__fotos {
  border: 10px solid #78bcc432;
  border-radius: 5px; }
  .director__fotos img {
    filter: grayscale(100%); }

.ensamble__texto {
  padding: 0 20px; }
  .ensamble__texto .pagina__subtitulo, .ensamble__texto .footer__titulo {
    color: #e25d31;
    font-size: 1.9rem;
    text-transform: none; }
  .ensamble__texto p {
    font-size: 1.3rem;
    line-height: 1.4; }

.director__texto {
  padding: 0 20px; }
  .director__texto .pagina__subtitulo, .director__texto .footer__titulo {
    color: #e25d31;
    font-size: 1.9rem;
    text-transform: none; }
  .director__texto p {
    font-size: 1.3rem;
    line-height: 1.4; }

/*MEDIA QUERIES*/
/*TABLET*/
@media screen and (max-width: 768px) {
  .biografia__fila {
    padding-bottom: 3rem; }
  .ensamble__texto, .director__texto {
    margin-top: 1rem; } }

/*CELULAR*/
@media screen and (max-width: 500px) {
  .biografia__enlaces {
    flex-wrap: wrap;
    gap: 0.1rem;
    text-align: center; }
    .biografia__enlaces a {
      font-size: 1.1rem; } }

/*Estilos de la pagina Conciertos*/
.fondo__foto {
  background: url(../imagenes/EnConcierto.jpg) top left repeat-x fixed; }

/*Keyframes temporada*/
@keyframes span__anim {
  0% {
    padding-top: 0;
    opacity: 0; }
  50% {
    opacity: 10%; }
  100% {
    padding-top: 60px;
    opacity: 100%; } }

@keyframes H1__anim {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

/*End of Keyframes temporada*/
.temporada__span {
  padding-left: 20px;
  padding-top: 60px;
  animation: span__anim 1.5s ease-out; }
  .temporada__span span {
    font-family: "Montserrat", Verdana, Arial, sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.6; }

.temporada__H1 {
  padding-left: 20px;
  opacity: 0;
  animation-name: H1__anim;
  animation-delay: 1.3s;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards; }
  .temporada__H1 h1 {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 6rem;
    color: #e25d31;
    font-weight: 500;
    line-height: 0.8; }

.conciertos__listado, .programas {
  padding: 20px 40px;
  margin-bottom: 50px; }
  .conciertos__listado h3, .programas h3 {
    font-size: 1.6rem;
    font-weight: 600; }
  .conciertos__listado h4, .programas h4 {
    font-size: 1.4rem;
    font-weight: 600; }
  .conciertos__listado p, .programas p {
    font-size: 1.3rem; }
  .conciertos__listado .conciertos__listado--item, .programas .conciertos__listado--item {
    margin-bottom: 3rem; }
    .conciertos__listado .conciertos__listado--item h4, .programas .conciertos__listado--item h4 {
      margin-bottom: 3px; }

.conciertos__encabezado {
  margin-top: 5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #012C3D; }

.programas {
  border-top: 1px solid #e25d31; }
  .programas .pagina__subtitulo, .programas .footer__titulo {
    font-size: 2.9rem;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 60px;
    text-transform: uppercase; }
  .programas .programas__item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    padding: 0 100px;
    align-items: center;
    text-align: justify;
    margin-bottom: 70px; }
    .programas .programas__item img {
      width: 35px;
      padding-bottom: 10px; }
    .programas .programas__item a {
      padding: 3px;
      font-size: 1.1rem; }
      .programas .programas__item a img {
        width: 15px;
        padding-bottom: 3px; }

/*MEDIA QUERIES*/
/*TABLET*/
@media screen and (max-width: 768px) {
  .temporada__span, .temporada__H1 {
    padding-left: 5px;
    padding-right: 5px; } }

/*CELULAR*/
@media screen and (max-width: 500px) {
  .termporada {
    position: static;
    height: 150px; }
  .temporada__span, .temporada__H1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    padding-left: 0; }
  .temporada h1 {
    font-size: 4.4rem; }
  .conciertos__listado {
    padding-left: 20px; }
    .conciertos__listado h4 {
      font-size: 1.3rem; }
  .programas .pagina__subtitulo, .programas .footer__titulo {
    font-size: 2.3rem; }
  .programas .programas__item {
    padding: 0 10px; } }

/*Estilos de la pagina Media*/
.media__contenedor {
  background-image: linear-gradient(to bottom, #78bcc432, #F7F8F3); }

.media__encabezado {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  margin: 0 auto;
  gap: 30px;
  max-width: 600px;
  text-align: center;
  margin: 50px auto; }

.encabezado h1 {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.2;
  color: #012C3D; }

.encabezado span {
  color: #e25d31;
  display: block; }

.media__enlaces {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-start; }

.media__videos {
  padding: 20px;
  padding-bottom: 100px;
  border-bottom: 2px solid #012C3D;
  border-top: 2px solid #012C3D; }

.videos__marco {
  margin: 30px auto;
  width: 90%;
  border: 10px solid #F7F8F3;
  border-radius: 5px; }

.contenedorIframe {
  position: relative;
  width: 100%;
  padding-top: 56.25%; }
  .contenedorIframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.media__galeria {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 0 20px;
  padding-bottom: 100px;
  align-items: center;
  border-bottom: 2px solid #012C3D; }

.slider__contenedor {
  width: 90%;
  border: 10px solid #F7F8F3; }

.carousel-control-prev, .carousel-control-next {
  width: 4%; }

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #e25d31;
  height: 50px; }

.carousel-indicators .active {
  background-color: #e25d31; }

.modal-content {
  background-image: linear-gradient(to bottom, #78bcc432, #F7F8F3); }

.modal-title {
  font-family: "Montserrat", Verdana, Arial, sans-serif;
  font-weight: 600; }

.media__videos .pagina__subtitulo, .media__videos .footer__titulo, .media__galeria .pagina__subtitulo, .media__galeria .footer__titulo, .media__flyers .pagina__subtitulo, .media__flyers .footer__titulo {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px; }

.media__flyers {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 0 20px;
  padding-bottom: 100px;
  align-items: center; }
  .media__flyers img {
    max-width: 700px;
    width: 90%;
    border: 10px solid #F7F8F3;
    margin-bottom: 20px; }

/*MEDIA QUERIES*/
/*TABLET*/
@media screen and (max-width: 768px) {
  .encabezado h1 {
    font-size: 2.3rem; }
  .media__videos, .media__galeria, .media__flyers {
    padding-bottom: 30px; } }

/*CELULAR*/
@media screen and (max-width: 500px) {
  .media__enlaces {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px; }
    .media__enlaces .enlacesInternos {
      width: 60%;
      font-size: 1.1rem; }
  .media__videos .pagina__subtitulo, .media__videos .footer__titulo, .media__galeria .pagina__subtitulo, .media__galeria .footer__titulo, .media__flyers .pagina__subtitulo, .media__flyers .footer__titulo {
    font-size: 2rem; }
  .videos__marco {
    width: 100%; }
  .slider__contenedor {
    width: 100%; }
  .media__flyers img {
    width: 100%; } }

/*Estilo de la pagina Contacto*/
.contacto__contenedor {
  background-image: linear-gradient(to bottom, #78bcc455, #F7F8F3);
  padding-top: 50px; }

.contacto__fila {
  margin-left: 0;
  margin-right: 0;
  padding-left: 20px;
  padding-right: 20px; }
  .contacto__fila h3 {
    font-size: 1.8rem;
    font-weight: bold; }
  .contacto__fila h4 {
    font-size: 1.6rem;
    font-weight: 500;
    color: #e25d31;
    line-height: 1.3; }
  .contacto__fila p {
    font-size: 1.3rem;
    margin-bottom: 2px;
    color: #012C3D; }
  .contacto__fila a {
    color: #012C3D; }
  .contacto__fila .pagina__subtitulo, .contacto__fila .footer__titulo {
    font-size: 2.8rem;
    margin-bottom: 40px;
    text-transform: none; }
  .contacto__fila section {
    margin-bottom: 70px; }

.contacto__1 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  border: 1px solid #012C3D;
  border-radius: 10px;
  background-color: #F7F8F3;
  box-shadow: .2px .2px 5px grey;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  text-align: center; }
  .contacto__1 img {
    width: 45px;
    margin-top: 10px; }

.contacto__2 {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #012C3D;
  border-radius: 10px;
  background-color: #F7F8F3;
  box-shadow: .2px .2px 5px grey; }

.equipo__contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: flex-start; }

.equipo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  width: 45%;
  gap: 10px;
  align-items: center;
  text-align: center;
  margin: 0 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 22px; }
  .equipo img {
    width: 35%;
    border-radius: 50%; }

.equipo__texto {
  padding-left: 10px;
  padding-right: 10px; }

.contacto__3 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-start;
  height: 250px;
  padding: 30px 20px;
  text-align: center;
  border: 1px solid #012C3D;
  border-radius: 10px;
  background-color: #F7F8F3;
  box-shadow: .2px .2px 5px grey; }
  .contacto__3 input {
    display: block;
    width: 100%;
    height: 34px;
    background-color: #F7F8F3;
    padding: 6px 12px;
    font-size: 1.4rem;
    line-height: 1.4;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 10px; }
    .contacto__3 input:focus {
      outline: 0;
      border-color: #e25d31; }
  .contacto__3 .botonEnviar {
    width: 40%;
    margin: auto; }
    .contacto__3 .botonEnviar input {
      background-color: #f0f0f0; }

.contacto__4 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  height: 250px;
  padding: 44px 20px;
  text-align: center;
  border: 1px solid #012C3D;
  border-radius: 10px;
  background-color: #F7F8F3;
  box-shadow: .2px .2px 10px grey; }
  .contacto__4 img {
    width: 60px;
    transition: .2s ease-in; }
    .contacto__4 img:hover {
      transform: scale(1.1); }

.contacto__4--iconos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: flex-start; }

.contacto__5 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  border: 1px solid #012C3D;
  border-radius: 10px;
  background-color: #F7F8F3;
  box-shadow: .2px .2px 10px grey;
  padding: 44px 0; }

.contacto__5--contenido {
  margin-left: 30px;
  margin-right: 30px; }

.formulario__titulo {
  text-align: center; }

.formulario__fila {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start; }

.formulario__seccion {
  width: 50%;
  padding-left: 15px;
  padding-right: 15px; }

.formulario__seccionLarga {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px; }

.formulario__grupo {
  font-size: 1.8rem;
  letter-spacing: .2px;
  margin-bottom: 15px;
  line-height: 25px; }
  .formulario__grupo label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 600; }
  .formulario__grupo input {
    display: block;
    width: 100%;
    height: 34px;
    background-color: #F7F8F3;
    padding: 6px 12px;
    font-size: 1.4rem;
    line-height: 1.4;
    border: 1px solid;
    border-radius: 5px; }
    .formulario__grupo input:focus {
      outline: 0;
      border-color: #e25d31; }
  .formulario__grupo textarea {
    display: block;
    width: 100%;
    height: auto;
    background-color: #F7F8F3;
    padding: 6px 12px;
    font-size: 1.4rem;
    line-height: 1.4;
    border: 1px solid;
    border-radius: 5px; }
    .formulario__grupo textarea:focus {
      outline: 0;
      border-color: #e25d31; }

.botonEnviar input {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 6px 25px;
  font-size: 1.4rem;
  line-height: 1.4;
  border: 1px solid #012C3D;
  border-radius: 5px;
  transition: .2s ease-out; }
  .botonEnviar input:hover {
    border-color: #e25d31;
    color: #e25d31; }

/*MEDIA QUERIES*/
/*TABLET*/
@media screen and (max-width: 768px) {
  .contacto__contenedor h4 {
    font-size: 1.4rem; }
  .contacto__contenedor h3 {
    font-size: 1.6rem; }
  .contacto__contenedor p {
    font-size: 1.2rem; }
  .contacto__contenedor .pagina__subtitulo, .contacto__contenedor .footer__titulo {
    font-size: 2rem; }
  .contacto__1 {
    text-align: center; }
  .equipo__contenedor {
    flex-direction: column;
    gap: 20px; }
  .contacto__2 {
    text-align: center; }
  .equipo {
    width: 70%;
    margin: 0 auto; }
  .contacto__3 img {
    width: 40px; }
  .contacto__4 img {
    width: 55%; } }

/*CELULAR*/
@media screen and (max-width: 500px) {
  .contacto__contenedor section {
    padding-bottom: 50px; }
  .contacto__contenedor .pagina__subtitulo, .contacto__contenedor .footer__titulo {
    font-size: 1.7rem;
    text-align: center; }
  .contacto__fila {
    padding-left: 0;
    padding-right: 0; }
    .contacto__fila section {
      margin-bottom: 30px; }
  .contacto__1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center; }
  .contacto__1--texto {
    width: 100%;
    flex-wrap: nowrap; }
  .contacto__2 {
    padding: 5px; }
    .contacto__2 p {
      font-size: 1.2rem; }
  .equipo__contenedor {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start; }
  .equipo {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 90%; }
    .equipo img {
      width: 50%;
      padding-bottom: 20px; }
  .contacto__3 .botonEnviar {
    width: 60%;
    text-align: center; }
  .formulario__fila {
    flex-wrap: wrap; }
  .formulario__seccion {
    width: 100%; }
  .contacto__5 .botonEnviar {
    text-align: center; }
  .contacto__5 label {
    font-size: 1.4rem; } }
